{% extends "base.html" %}
{% block content %}
<!-- === templates/index.html === -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XP Tracker</title>
    <link rel="stylesheet" href="/static/styles.css">

    {% include "navbar.html" %}

</head>
<div class="leaderboard-container">
    {% for user in leaderboard_data %}
        {% set rank_class = "" %}
        {% if loop.index0 == 0 %}
            {% set rank_class = "first-place" %}
        {% elif loop.index0 == 1 %}
            {% set rank_class = "second-place" %}
        {% elif loop.index0 == 2 %}
            {% set rank_class = "third-place" %}
        {% endif %}
        <a href="{{ url_for('public_profile', username=user.username) }}" class="user-card-link">
        <div class="user-card {{ rank_class }}">
            <h2>{{ user.username }}</h2>
            <h3>Total Level: {{ user.overall_level }}</h3>
    
                {% set grouped_stats = {'Red': [], 'Blue': [], 'Green': [], 'Gold': []} %}
                {% for stat in user.stats %}
                    {% set _ = grouped_stats[stat[1]].append(stat) %}
                {% endfor %}
    
                <div class="category-wrapper">
                    {% for category, stats in grouped_stats.items() %}
                        {% if stats %}
                        <div class="category-card category-{{ category|lower }}">
                            <h3>{{ category }} Skills</h3>
                            <table class="leaderboard-table">
                                <thead>
                                    <tr>
                                        <th>Skill</th>
                                        <th>XP</th>
                                        <th>Level</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for stat in stats %}
                                    <tr>
                                        <td>{{ stat[0] }}</td>
                                        <td>{{ stat[2] }}</td>
                                        <td>{{ stat[3] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </a>
    </div>
    </body>
    

{% endblock %}